* {
    box-sizing: border-box;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
  }

#countries{
    display: flex;
    gap: 100px 50px;
    flex-wrap: wrap;
    margin: auto;
    width: 70vw;
    height: 70vh;
    padding-top: 100px;
    padding-bottom: 100px;
}
.pic-country{
    display: flex;
    flex-direction: column;
    text-align: center;
    width:80px;
    height:80px;
}

img{
   pointer-events: none; 
}
#nav {
    width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
#countriesfood {
    margin: 20px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
}
#foodpic {
    width: 45vw;
    height: 85vh;
    
    margin: 20px;
    border-radius: 60px;
     
 }

 
 #display-item{
     
     display: flex;
     
 }
 #ingredient{
    text-align: center;
}
 .half-item{
     flex-grow: 1;
 }
 #inner-display{
   float:left;
 }
 .half-item{
    flex-grow: 1;
    width: 50vw;
    height: auto;
    margin: 20px;
    border-radius: 60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
}
