* {
    box-sizing: border-box;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
  }

#recipes {
    margin: 20px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
}

#foodpic {
    width: 45vw;
    height: 85vh;
    
    margin: 20px;
    border-radius: 60px;
    
}


#display-item{
    
    display: flex;
    
}
.half-item{
    flex-grow: 1;
    width: 50vw;
    height: auto;
    margin: 20px;
    border-radius: 60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
}
#inner-display{
  float:left;
}
#ingredient{
    text-align: center;
}
