
#recipes {
    margin: 20px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
}

#foodpic {
   width: 50%;
    /* height: 730px; */
    margin: 20px;
    border-radius: 60px;
    
}


#display-item{
    
    display: flex;
    
}
.half-item{
    flex-grow: 1;
}
#inner-display{
  float:left;
}
